<h1>Viewing Party Light</h1>

<% if session[:user_id] %>
  <%= button_to "Log Out", '/logout', method: :delete %>
<% else %>
  <%= button_to 'Create a New User', '/register', method: :get %><br>
  <%= button_to "I already have an account", "/login" %>
<% end %>


<p>Existing Users:</p>
<% @users.each do |user| %>
  <%= link_to "#{user.email}", "/dashboard" %>
<% end %>
